<% if current_user %>
  <%= render 'welcome/dashboard' %>
<% else %>
  <div class="jumbotron">
    <h2>The Ultimate Photo Management App</h2>
    <p class="lead">
      Manage all of your photo projects and files from one place. See how Photo App can benefit you!
    </p>
  </div>
  <div class="container text-center">
    <h2>Lifetime Access</h2>
    <div class="font-weight-bold mb-2">
      Price: $9.99
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <ul class="text-center plan-details">
          <li class='font-weight-bold'>Unlimited Image Uploads</li>
          <li>Responsive design</li>
          <li>Access anywhere</li>
        </ul>
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
        </p>
      </div>
    </div>
  </div>
<% end %>
