@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

.user-name {
  padding: 0 !important ;
  padding-left: 5px;
  padding-top: 15px !important;
  text-align: center;
    
  a {
    color: black !important;
    margin: 0 !important;
    padding: 5px!important;
  }
  
  a:hover, a:focus {
    color: #000 !important;
  }
}
  
.logout .login {
  padding-left: 0;
}
  
.nav.navbar-right {
  padding-bottom: 10px;
  padding-top: 5px;
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }
  
  .btn-danger:hover, .btn-danger:focus {
    background-color: darken(#d9534f,20%) !important;
  }
  
  .btn-primary:hover, .btn-primary:focus {
    background-color: darken(#428bca,20%) !important;
  }
}
  
.btn-primary:visited, .btn-danger:visited {
  color: #fff;
}

.yield {
  margin-top: 4%;
}

.features {
  ul {
    margin-left: 0;
    padding-left: 15px;
  }
}

.jumbotron {
  text-align: center;
  background-image: asset-url('camera.jpg');
  background-size: cover;
  background-position: 25% 30%;
  padding-top: 15%;
  padding-bottom: 20%;
  height: 400px;
  color: #fff;
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}

.plans {
  margin-left: 22.5%;
  padding-right: 0 !important;
}